@charset "UTF-8";
:root {
  --white-bg-color: #eee !important;
  --lm-button-bg-color: #ddd !important;
  --lm-input-bg-color: #ddd !important;
  --dm-checkbox-border-color-checked: #eb4b4b !important;
}

.content-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

select.form-control {
  line-height: normal;
}

div.container-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  max-width: none;
  margin-top: 50px;
  margin-bottom: 50px;
}

div.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  max-width: none;
  margin-top: 50px;
}

select#multi-select-3 {
  display: table-row;
  min-height: unset;
}

#multi-select-3 > option {
  display: table-cell;
  width: 30px;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;
}

.container-2 > select {
  margin-bottom: 25px;
}

.mw-full {
  width: 460px;
}

.img-fluid {
  object-fit: cover;
  width: 100%;
  height: 500px !important;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
}

h1.results {
  margin-top: 50px;
}

label.content-title {
  font-weight: 400;
}

.container-2 > label.content-title, h2.content-title {
  align-self: flex-start;
}

p.score {
  position: absolute;
  left: 36px;
  bottom: 28px;
  margin-top: 44px;
  opacity: 0.6;
}

input.date-select {
  display: inline-block;
  width: 3.4em;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button.add-minus-btn {
  font-size: 12px;
  font-weight: 600;
  width: 35px;
  height: 25px;
  padding: 0px;
  line-height: 1;
}

.btn-wrapper {
  display: inline-block;
  width: 75px;
}

.btn-wrapper > button {
  margin: 2px 0px;
  opacity: 0.5;
}

.btn-wrapper > button:hover, .btn-wrapper > button:focus {
  opacity: 1;
}

.date-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.from-to-wrapper > input, .btn-wrapper {
  margin-left: 5px;
}

.date-wrapper > label:not(:first-child) {
  margin-left: 50px;
}

.from-to-wrapper {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.custom-switch {
  align-self: flex-start;
  margin-bottom: 25px;
}

.checkbox-container, .checkbox-container-2 {
  display: flex;
  flex-wrap: wrap;
  height: 45px;
  overflow: hidden;
}

.height-auto {
  height: auto;
}

.custom-checkbox {
  margin: 0px 10px 10px 20px;
  position: relative;
  right: 10px;
}

.unchecker {
  flex: 1 0 100%;
}

.expand, .expand-2 {
  width: 100%;
  height: 40px;
  background: #25282c;
  background: linear-gradient(180deg, rgba(37, 40, 44, 0) 0%, #25282c 50%, rgba(37, 40, 44, 0) 100%);
  margin-bottom: -20px;
  position: relative;
  bottom: 40px;
  display: flex;
  justify-content: center;
}

.checkbox-container label:before {
  --dm-checkbox-border-color-checked: rgb(24, 144, 255);
}

.not-checkbox:before {
  background-color: transparent !important;
}

.checkbox-container-2 label.not-checkbox:before {
  border-color: #eb4b4b;
}

.checkbox-container-2 label.not-checkbox:after {
  border: none;
  content: "–";
  -webkit-transform: none;
  color: #eb4b4b;
  transform: none;
  top: -1.5px;
  left: 7px;
  font-weight: 600;
}

.rotate-180 {
  transform: rotate(180deg);
}

.opacity {
  position: relative;
  top: 15px;
  opacity: 0.75;
  transition: transform 0.5s;
}

@media (max-width: 480px) {
  select.form-control {
    width: calc(100% - 40px);
    line-height: normal;
  }

  div.container, div.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: none;
    margin-top: 25px;
  }

  select#multi-select-3 {
    width: calc(100% - 40px);
    display: table-row;
    min-height: unset;
  }

  .mw-full {
    width: 100%;
  }

  p.score {
    position: absolute;
    left: 20px;
    bottom: 14px;
    margin-top: 44px;
    opacity: 0.6;
  }

  #multi-select-3 > option {
    display: table-cell;
    width: 30px;
    padding: 7px 12px;
  }

  .date-wrapper {
    width: calc(100% - 40px);
  }

  .container-2 > label.content-title, h2.content-title, .custom-switch {
    margin-left: 20px;
  }

  .checkbox-container, .checkbox-container-2 {
    width: calc(100% - 40px);
  }

  button.btn-primary {
    width: calc(100% - 40px);
    padding: 5px 15px;
    height: auto;
  }

  .btn-wrapper {
    width: unset;
    margin-left: 0px;
  }

  .date-wrapper > .from-to-wrapper:not(:first-child) {
    justify-content: flex-end;
  }

  .date-select {
    font-size: 18px;
  }

  .from-to-wrapper > label {
    margin-bottom: 0px;
  }
}
@media (max-width: 1599px) {
  .checkbox-container-2 label.not-checkbox:after {
    left: 5.5px;
  }
}

/*# sourceMappingURL=style.css.map */
